<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Prediction</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Temperature Prediction for Karachi</h1>
        <button id="predictButton">Get Predictions</button>
        <div id="result" class="hidden">
            <h2>Predicted Temperatures for the Next 5 Days</h2>
            <ul id="predictionList"></ul>
            <img id="memoryUsageImage" src="" alt="Memory Usage" />
        </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>
